*{
    margin: 0;
    padding: 0;
}
#header{
    width:100vw;
    height:10vh;
    background-color: rgb(206, 134, 1);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#mid{
    width:100vw;
    height:80vh;
    background-color: white;
    display: flex;
}
#footer{
    width:100vw;
    height: 10vh;
     background-color: rgb(206, 134, 1);
     text-align: center;
     padding-top: 15px;
}
#sign{
 padding-left: 30px;
 font-size: large;
 font-family: Arial, Helvetica, sans-serif;
 font-style: normal;
}
#info{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: bold;
 padding-right: 100px;
}
#logout{
padding-right: 30px;
}
#bt1{
    width: 65px;
    height: 35px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}
#sidebar{
   background-color: rgb(238, 238, 238);
   width: 20vw;
 padding-left: 20px;
 
}
#main{
    background-color: rgb(175, 181, 179);
    width: 80vw;
}
#sidebar2{
 padding-top: 30px;
}
#side{
font-size: medium;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
#side3{
    padding-top: 30px;
    padding-left: 10px;
}
#dash{
width: 200px;
height: 30px;
 background-color: rgb(206, 134, 1);
 box-shadow: 0px 0px 10px 1px;
text-align: center;
border-radius: 5px;


}
#dash p{
    padding-top: 5px;
}
.s1{

width: 200px;
height: 30px;
box-shadow: 0px 0px 10px 1px;
text-align: center;
border-radius: 5px;
}
.s1 p{
   padding-top: 5px; 
}
#information{
    background-color:white;
    width: 1060px;
    height: 170px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: rgb(233, 157, 16);
    box-shadow: 0px 0px 5px 0px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
    
}
#student{
   padding-right: 30px;
}
#advisor{
   padding-left: 30px;
}
#sti{
font-weight: bold;
}
#adv{
font-weight: bold;
}
.co{
padding-top: 10px;
font-family: Arial, Helvetica, sans-serif;
font-style: oblique;
}
#aca{
    display: flex;
    justify-content: space-between;
}
#one{
    margin-top: 10px;
}
#prog{
    width: 524px;
    height: 150px;
    background-color: white;
    margin-left: 10px;
   padding-top: 3px;
    border-radius: 5px;
    border-color: rgb(233, 157, 16);
    box-shadow: 0px 0px 5px 0px;
}
#cgpa{
   width: 524px;
    height: 310px;
    background-color: white; 
    margin-right: 10px;
      margin-top: 10px;
       border-radius: 5px;
    border-color: rgb(233, 157, 16);
    box-shadow: 0px 0px 5px 0px;
}
#last{
    display: flex;
  justify-content: space-evenly;
    margin-top: 10px;
   height: 150px;
 
    
}
#financial{
  width: 252px;
  height: 147px;
   background-color: white; 
  
       border-radius: 5px;
    border-color: rgb(233, 157, 16);
    box-shadow: 0px 0px 5px 0px;
}
#notice{
  width: 252px;
  height: 147px;
   background-color: white; 
  margin-left: 2px;
       border-radius: 5px;
    border-color: rgb(233, 157, 16);
    box-shadow: 0px 0px 5px 0px;
}
.cre{
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: large;
}
.num{
    font-size: medium;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.cr{
    margin-top: 23px;
    margin-left: 30px;
    font-weight: bold;
    font-size: large;
}
#n1{
margin-top: 22px;
margin-left: 10px;
width: 44px;
height: 17px;
border-radius: 5px;
text-align: center;
background-color: rgb(186, 186, 186);
}
#n2{
    margin-left: 10px;
    margin-top: 9px;
    padding-top: 3px;
    padding-right: 2px;
   font-size: medium;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;  
}
.c11{
    padding-top: 20px;
    margin-left: 10px;
     font-weight: bold;
    font-size: large;
}
#graph{
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#g1{
width: 30px;
height: 150px;
background-color: rgb(255, 128, 0);
border-radius: 5px;
}
#g2{
width: 30px;
height: 100px;
background-color:  rgb(255, 128, 0);
border-radius: 5px;
}
#g3{
width: 30px;
height: 80px;
background-color: rgb(255, 128, 0);
border-radius: 5px;
}
#g4{
  width: 30px;
height: 120px;
background-color: rgb(255, 128, 0);
border-radius: 5px;
}  
